:root {
  --color-primary: #7b53bc;
  --color-secondary: #a992c6;
  --color-tertiary: #fbeaff;
  --color-fourth: #64baaa;
  --color-blue: #0d74ce;
  --color-yellow-light: hsla(56, 100%, 50%, 0.28);
  --color-yellow: #9e6c00;
  --color-red-light: #f3000d14;
  --color-red: #c40006d3;
  --color-green-light: #00a43319;
  --color-green: #00713fde;
  --color-white: #fff;
  --color-reds: hsla(358, 68%, 56%, 1);
  --color-purple: hsla(268.67, 100%, 29.8%, 0.6);
  --color-purple-light: hsla(273.33, 3.54%, 99.61%, 0.8);
  --color-purple-background: hsla(275.07, 99.52%, 81.57%, 0.23);
  --color-gray: hsla(0, 0%, 50%, 0.1);
  --color-gray-light: hsla(0, 0%, 90%, 1);
  font-family: Arial, Inter, system-ui, Avenir, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* BUTTONS */
.delete-button {
  background-color: var(--color-red);
  color: white;
  border: none;
  border-radius: 5px;
}

.delete-button:active {
  background-color: var(--color-white);
  color: var(--color-red);
}

.edit-button {
  background-color: var(--color-blue);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
}

.edit-button :active {
  background-color: var(--color-white);
  color: var(--color-blue);
}

.content-buttons {
  display: flex;
  gap: 8px;
}

.checked-status {
  display: flex;
  background-color: var(--color-green-light);
  color: var(--color-green);
  border-radius: 20px;
  align-items: center;
  gap: 8px;
  width: fit-content;
  padding: 2px 10px;
}

.pending-status {
  display: flex;
  background-color: var(--color-yellow-light);
  color: var(--color-yellow);
  border-radius: 20px;
  align-items: center;
  gap: 8px;
  width: fit-content;
  padding: 2px 10px;
}

.cancelled-status {
  display: flex;
  background-color: var(--color-red-light);
  color: var(--color-red);
  border-radius: 20px;
  align-items: center;
  gap: 8px;
  width: fit-content;
  padding: 2px 10px;
}

.icon-edit {
  display: flex;
  gap: 8px;
  font-weight: bold;
}

.title-purple {
  text-align: center;
  color: var(--color-primary);
}

.content-section {
  border: 1px solid black;
  width: 50%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 70%;
  padding: 30px;
  border-radius: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.5rem;
}

.form-group input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Firebox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Todo los navegadores */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* Para evitar espacios adicionales */
}

.button-wrapper {
  text-align: end;
  padding-top: 30px;
}

.back-button,
button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

.back-button,
button:active {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

.between {
  justify-content: space-around;
}

.scale {
  padding: 15px 50px;
  font-size: 1rem;
}

.scale:active {
  padding: 15px 50px;
  font-size: 1rem;
}

.icon-text {
  display: flex;
}

.label {
  color: var(--color-green);
}

label {
  font-weight: bold;
}

.divider {
  border-top: 2px solid #ccc;
  /* Línea horizontal */
  margin: 20px 0;
  /* Espacio arriba y abajo */
}

.label-between {
  justify-content: space-between;
}

.switch {
  color: var(--color-primary);
}
